#contactUsContent{
    direction: rtl;
}
#contactForm {
    border: 1px solid #f1f1f1;
    padding: 20px;
    border-radius: 50px 15px 5px 30px;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    background-color: rgba(232, 250, 254,0.3)
}
#cotImg {
    height: 500px;
    width: 400px;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 105px;
    margin-bottom: 40px;
}